
body {
    background-color: #ffefc2b2;
    margin: 0;
    padding-top: 80px;
    position: relative;
    padding-bottom: 14.5em;
    min-height: 200vh;
}


header{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: auto;
    top: 0;
    position: fixed;
    background-color: #c09316;
    z-index: 1000;
}

header .logo img {
    height: auto;
    max-height: 100px;
    width: auto;
}
.logo img {
    margin-left: 20px;
    width: 40%;
}

header .pago {
    background-color: #c09316a6;
}

header .desplegable .Doc {
    color: #fff;
    margin-left: -5%;
    padding-left: 4%;
}


nav {
    display: flex;
    flex-wrap: wrap; 
    gap: 60px;
    margin-right: 60px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-right: 60px;
}

nav a:hover{
    color: #5CE1E6;
}


.desplegable {
    cursor: pointer;
}
.submenu {
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
}
.submenu a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}
.submenu a:hover {
    background-color: #f1f1f1;
}
.desplegable:hover .submenu {
    display: block;
}





h1{
    padding: 1.5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}






.pie-pagina {
background-color: #c09316;
bottom: 0;
position: absolute;
width: 100%;
}

.pie-pagina .grupo-1 {
width: 100%;
max-width: 1600px;
margin: auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-top: 40px;
padding-bottom: 40px;
}

.pie-pagina .grupo-1 .columna figure {
width: 100%;
height: 100%;
padding-left: 0%;
display: flex;
justify-content: center;
align-items: center;
margin:auto;
}

.pie-pagina .grupo-1 .columna figure img {
width: 175px;
margin: 0px;
}

.pie-pagina .grupo-1 .columna h2 {
font-family: 'Open Sans';
font-size: 22px;
color:white;
}

.pie-pagina .grupo-1 .columna img {
width: 190px;
margin-left: 10px;
}





@media (max-width: 804px) {

    body {
        padding-top: 180px;
    }


    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header .logo {
        margin-bottom: 10px;
    }

    nav {
        justify-content: center;
    }
}


@media (max-width: 400px) {

    body {
        padding-top: 220px;
    }


    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header .logo {
        margin-bottom: 10px;
    }

    nav {
        justify-content: center;
    }
}

@media (max-width: 299px) {

    body {
        padding-top: 260px;
    }


    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header .logo {
        margin-bottom: 10px;
    }

    nav {
        justify-content: center;
    }
}







@media (max-width: 768px) {
    .pie-pagina .grupo-1 {
        flex-direction: column;
        align-items: center; 
    }

    .pie-pagina .grupo-1 .columna {
        text-align: center;
    }

    .pie-pagina .grupo-1 .columna img {
        width: 200px;
    }
}

@media (min-width: 770px) {

    .pie-pagina .grupo-1 .columna img {
        margin-left: 0;
        margin-right: 10px;
        max-width: 200px;
        height: auto;
    }

    .pie-pagina .grupo-1 .columna h2 {
        margin: 0;
    }
}